.background {
    position: fixed; /* หรือ absolute ถ้าจำเป็น */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2d1f75;
   
    z-index: -1; /* เพื่อให้อยู่ด้านหลังเนื้อหาอื่น */
  }